python-dotenv
pandas
numpy
pymongo
setuptools
certifi
pymongo
pymongo[srv]
scikit-learn
mlflow
pyaml
dill
dagshub
fastapi
uvicorn
python-multipart
seaborn
openpyxl
catboost
xgboost
lightgbm
h2o

## -e .
